<div class="layout">
  <div class="grid gap stretch-x">
    <div class="col--span-6">
      <span class="label label--small group-header" data-group-header="true">Meetings</span>
      {% if meetings and meetings != empty %}
      {% for m in meetings limit: 2 %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="title title--small" data-clamp="1">{{ m.title }}</span>
          <span class="label label--small label--underline">{{ m.time }}</span>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="title title--small">Clear calendar</span>
          <span class="label label--small label--gray">No people-facing meetings</span>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col--span-3">
      {% if birthdays and birthdays != empty %}
      <span class="label label--small group-header" data-group-header="true">Birthdays</span>
      {% for b in birthdays limit: 2 %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="title title--small" data-clamp="1">{{ b.name }}</span>
          <span class="label label--small label--gray">{{ b.date | date: "%b %-d" }}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col--span-3">
      {% if reconnect and reconnect != empty %}
      <span class="label label--small group-header" data-group-header="true">Reconnect</span>
      {% for r in reconnect limit: 2 %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="title title--small" data-clamp="1">{{ r.name }}</span>
          <span class="label label--small label--gray">{% if r.days %}{{ r.days }}d{% else %}never{% endif %}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">Daily Brief</span>
  <span class="instance">{{ date | date: "%b %-d" }}</span>
</div>
